.container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  right: 30px;
  bottom: 20px;
  width: 300px;
  height: 60px;
  border-radius: 10px;
  background: var(--dark);

  z-index: 100;
}

.visible {
  transform: translateX(0);
}

.hidden {
  transform: translateX(120%);
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 9;
  cursor: pointer;
}

.text {
  align-self: center;
  padding: 5px 20px;
}
