.profile {
  flex-grow: 1;
  padding: 24px;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: var(--dark-sea);
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.group {
  width: 100%;
  background: #212123;
  border-radius: 8px;
  color: var(--light);
  padding: 12px 24px;
}

.inputContainer {
  display: flex;
  margin-bottom: 10px;
}
.inputContainer label {
  width: 20%;
  align-self: center;
}
.group input {
  width: 80%;
}

.submit {
  margin-top: 10px;
}
